# Python Week 2 Learnings

## A. What are Map, Reduce, Filter, Apply, Zip and Lambda Functions?

### 1  .apply()

Without using .apply() the average marks of students is calculated like below.

In [4]:
import pandas as pd

# Create a list of test grades
test_grades = [60, 80, 85, 80, 90, 100, 105, 95, 90]
# Create a list of Homework grades
hw_grades = [50, 60, 85, 90, 100, 80, 90, 70, 90]
#Create a list of student names.
students = ['Suzy', 'Rob', 'John', 'Salim', 'Holland', 'Howard', 'Carl', 'Serena', 'Megan']
#Create a list of column names for the DataFrame.
col_names = ['Students', 'Hw_Grades', 'Test_Grades']
#Create a pandas DataFrame named student_perf_df by zipping the three lists together and assigning column names
student_perf_df = pd.DataFrame(list(zip(students, hw_grades, test_grades)),
                               columns = col_names)
#Define a function calc_avg that takes two numbers as input and returns their average.
def calc_avg(num1, num2):
    return (num1 + num2)/2

#Iterate thru each record of the data frame
# .iterrows  method is used to iterate through the DataFrame, returning pairs of index and row data for each iteration.
for idx, row in student_perf_df.iterrows():
#  is a method in pandas used for label-based indexing. Here, idx is the index of the current row being processed in the DataFrame.
# The code is saying locate the row with index idx and ['Avg'] specifies the column named 'Avg'.     
   student_perf_df.loc[idx, 'Avg'] = calc_avg(row['Hw_Grades'], row['Test_Grades'])

print(student_perf_df)

  Students  Hw_Grades  Test_Grades   Avg
0     Suzy         50           60  55.0
1      Rob         60           80  70.0
2     John         85           85  85.0
3    Salim         90           80  85.0
4  Holland        100           90  95.0
5   Howard         80          100  90.0
6     Carl         90          105  97.5
7   Serena         70           95  82.5
8    Megan         90           90  90.0

Using .apply() the average marks of students is calculated like below.

In [7]:
import pandas as pd

# Create a list of test grades
test_grades = [60, 80, 85, 80, 90, 100, 105, 95, 90]
# Create a list of Homework grades
hw_grades = [50, 60, 85, 90, 100, 80, 90, 70, 90]
#Create a list of student names.
students = ['Suzy', 'Rob', 'John', 'Salim', 'Holland', 'Howard', 'Carl', 'Serena', 'Megan']
#Create a list of column names for the DataFrame.
col_names = ['Students', 'Hw_Grades', 'Test_Grades']
#Create a pandas DataFrame named student_perf_df by zipping the three lists together and assigning column names
student_perf_df = pd.DataFrame(list(zip(students, hw_grades, test_grades)),
                               columns = col_names)
#Define a function calc_avg that takes two numbers as input and returns their average.
def calc_avg(num1, num2):
    return (num1+num2)/2

#using .apply()
avg_scores = []
avg_scores =  student_perf_df.apply( lambda row: calc_avg(row['Hw_Grades'], row['Test_Grades']), axis=1)
student_perf_df['Avg'] = avg_scores
print(student_perf_df)

  Students  Hw_Grades  Test_Grades   Avg
0     Suzy         50           60  55.0
1      Rob         60           80  70.0
2     John         85           85  85.0
3    Salim         90           80  85.0
4  Holland        100           90  95.0
5   Howard         80          100  90.0
6     Carl         90          105  97.5
7   Serena         70           95  82.5
8    Megan         90           90  90.0

In [ ]:
The "apply" method in pandas applies a function along a specific axis of the DataFrame. In this case, the function will be applied to each row (axis=1 indicates rows).
Different types of axis
1. axis=0 (default): This refers to operations along rows. When you specify axis=0, the operation will be performed vertically, row-wise.

2. axis=1: This refers to operations along columns. When you specify axis=1, the operation will be performed horizontally, column-wise.

Example : Consider a data frame with following columns
 A  1  2  3
 B  4  5  6
 C  7  8  9
 
 Axis = 0
 Output: A     6
         B    15
         C    24
 Axis = 1
 Output: A    12
         B    15
         C    18
         
Lambda function is used for : 
A lambda function is a concise way to define a small, anonymous function. Here, it takes a single argument (row) and calculates the average using the calc_avg function for the 'Hw_Grades' and 'Test_Grades' values in that row.
Here it is Equivalent to
def calculate_average(row):
    return calc_avg(row['Hw_Grades'], row['Test_Grades'])


Example for apply with axis 0 and 1
Original DataFrame 

  Students  Hw_Grades  Test_Grades
0     Suzy         50           60
1      Rob         60           80
2     John         85           85
3    Salim         90           80
4  Holland        100           90
5   Howard         80          100
6     Carl         90          105
7   Serena         70           95
8    Megan         90           90

After Applying "apply" to Calculate Averages:
0     55.0
1     70.0
2     85.0
3     85.0
4     95.0
5     90.0
6     97.5
7     82.5
8     90.0

Updated DataFrame (student_perf_df) with 'Avg' Column:
  Students  Hw_Grades  Test_Grades   Avg
0     Suzy         50           60  55.0
1      Rob         60           80  70.0
2     John         85           85  85.0
3    Salim         90           80  85.0
4  Holland        100           90  95.0
5   Howard         80          100  90.0
6     Carl         90          105  97.5
7   Serena         70           95  82.5
8    Megan         90           90  90.0

### 2  .zip()

Takes iterables from different containers(lists, dicts) and returns a single iterator object after mapping values from all the previous containers. One thing to make sure is that if youâ€™re working with lists, then the lists must be of the same length.

In [23]:
#Create a list for names
names = ['Cloud', 'Bruce', 'Clark', 'Grant', "Lana", "Sora", 'Thanos', 'Tony']
#Create a list for age
age = [25, 30, 32, 15, 76, 26, 28, 42]
#Use zip to combine both and display thru iteration
mapped_2_lists = list(zip(names, age))
print('Output1:')
print('    ')
print(mapped_2_lists)

video_games = ['God of War 4', 'Rainbow 6 Siege', 'Assassins Creed: Vikings']
game_prices = [60.00, 20.00, 40.00]

game_price_dict = {game: price for game, price in zip(video_games, game_prices)}
print('    ')
print('Output2:')
print('    ')
print(game_price_dict)

Output1:

[('Cloud', 25), ('Bruce', 30), ('Clark', 32), ('Grant', 15), ('Lana', 76), ('Sora', 26), ('Thanos', 28), ('Tony', 42)]

Output2:

{'God of War 4': 60.0, 'Rainbow 6 Siege': 20.0, 'Assassins Creed: Vikings': 40.0}

zip(video_games, game_prices): This function takes two iterables (video_games and game_prices) and pairs their elements together. In this case, it creates pairs of video game titles and their corresponding prices.

{game: price for game, price in ...}: This is a dictionary comprehension. It iterates over the pairs created by zip, and for each pair, it creates a key-value pair in the dictionary.

The variable game represents the video game title.
The variable price represents the corresponding price.
The expression {game: price} creates a key-value pair in the dictionary.
game_price_dict: This variable stores the resulting dictionary.

### 3  .lamda()

Lambda defines an anonymous function. This function can have multiple arguments, but is ultimately evaluated as one expression. Lambda functions give you the ability to create small, one line functions which saves time, reduces the amount of code and allows you to use them as objects to pass along as inputs to other functions.

In [25]:

"""Lambda Average"""
num_list = [87, 34, 1, 55, 23, 34, 22, 67, 48, 29, 10, 26]
# Clasical way of defining function
def calc_avg(num_list):
    return sum(num_list)/len(num_list)
# Lamda way of defining the function with less code
lambda_avg = lambda number_list: sum(number_list)/len(number_list)

print('Standard Avg Function:', calc_avg(num_list), 
      'Lambda Avg Function:', lambda_avg(num_list))

"""Lambda Square"""
# Clasical way of defining function
def square_num(num1):
    return num1 ** 2
# Lamda way of defining the function with less code
lambda_square = lambda num1: num1 ** 2

print('Standard Square Num:', square_num(5), 
      'Lambda Square Num:', square_num(5))

"""Lambda Odd Number"""
odd_num = lambda num: "even num" if num % 2 == 0 else "odd num"
print('Lambda Odd Number', odd_num(5))

"""Lambda Sorting"""
num_list2 = [43,12,67,89,11,44,0, 98,86,53,67]
lambda_sorting_list = sorted(num_list2, key=lambda x: int(x))
print("Lambda Sorting", lambda_sorting_list)

Standard Avg Function: 36.333333333333336 Lambda Avg Function: 36.333333333333336
Standard Square Num: 25 Lambda Square Num: 25
Lambda Odd Number odd num
Lambda Sorting [0, 11, 12, 43, 44, 53, 67, 67, 86, 89, 98]

### 4 .map()

Map is a function that works as an iterator to return a result after applying a function to every item of an iterable (tuple, lists, etc.).

In [26]:
num_list4 = [1, -1, 5, -10, 20, -60, -80, 30, 23, 56, 91, -99]
def multiply_4(n):
    return n * 4

#need to wrap in list function to avoid returning memory location
muliplied_by_4_list = list(map(multiply_4, num_list4))
print("Lambda", muliplied_by_4_list)

"""Map + Lambda"""
multiplied_by_4_list_lambda = list(map(lambda x: x * 4, num_list4))
print("Map + Lambda", multiplied_by_4_list_lambda)

price = [981.00, 876.75, 573.25, 142.50]
discounts = [.15, .25, .30, .50]
coupons = [5.00, 20.00, 30.00, 15.00]

total_prices = list(map(lambda x, y, z : x*y-z, price, discounts, coupons))
print("Lambda Calculating Total Prices", total_prices)

"""Map List Elements in a List"""
cereal = ['Coco Puffs', 'Cinnamon Toast Crunch', 'Fruity Pebbles', 
          'Cookie Crisp', 'Chex', 'Kix']

listified_cereal = list(map(list, cereal))
print('Listified Cereal', listified_cereal)

Lambda [4, -4, 20, -40, 80, -240, -320, 120, 92, 224, 364, -396]
Map + Lambda [4, -4, 20, -40, 80, -240, -320, 120, 92, 224, 364, -396]
Lambda Calculating Total Prices [142.15, 199.1875, 141.975, 56.25]
Listified Cereal [['C', 'o', 'c', 'o', ' ', 'P', 'u', 'f', 'f', 's'], ['C', 'i', 'n', 'n', 'a', 'm', 'o', 'n', ' ', 'T', 'o', 'a', 's', 't', ' ', 'C', 'r', 'u', 'n', 'c', 'h'], ['F', 'r', 'u', 'i', 't', 'y', ' ', 'P', 'e', 'b', 'b', 'l', 'e', 's'], ['C', 'o', 'o', 'k', 'i', 'e', ' ', 'C', 'r', 'i', 's', 'p'], ['C', 'h', 'e', 'x'], ['K', 'i', 'x']]

### 5 .reduce()

The reduce function applies a specified function to all the elements of your list or series and reduces the number of values in your list/series. This belongs to the functools library.

In [27]:
from functools import reduce

home_prices = [450000.00, 800000.00, 1200000.00, 540500.00, 10400500.00, 2030000.00]
downpayment_rate = [.10, .15, .20, .30, .10, .035]
monthly_payment_30 = 360

downpayment_for_homes = list(map(lambda x, y: x * y, home_prices, downpayment_rate))
monthly_payments_30y = list(map(lambda x : int(x/monthly_payment_30), home_prices))

total_value_of_owned_homes = reduce(lambda x, y : x + y, home_prices)

print("House Downpayments: ", downpayment_for_homes)
print('Monthly Payments Over 30 Years: ', monthly_payments_30y)
print('Total Inventory Value: ', total_value_of_owned_homes)

House Downpayments:  [45000.0, 120000.0, 240000.0, 162150.0, 1040050.0, 71050.0]
Monthly Payments Over 30 Years:  [1250, 2222, 3333, 1501, 28890, 5638]
Total Inventory Value:  15421000.0

### Example 1 project to use all the above methods

In [28]:
import pandas as pd
from functools import reduce

# Sample data
movies = ['Inception', 'The Dark Knight', 'Pulp Fiction', 'The Shawshank Redemption', 'Forrest Gump']
genres = ['Sci-Fi', 'Action', 'Crime', 'Drama', 'Drama']
ratings = [4.8, 4.9, 4.5, 4.7, 4.6]
budgets = [160000000, 185000000, 8000000, 25000000, 55000000]

# Create a DataFrame
col_names = ['Movie', 'Genre', 'Rating', 'Budget']
movies_df = pd.DataFrame(list(zip(movies, genres, ratings, budgets)), columns=col_names)

# Function to categorize movies based on user preferences
user_preferences = {'Sci-Fi': 'Favorite', 'Action': 'Liked', 'Crime': 'Neutral', 'Drama': 'Not Preferred'}
movies_df['User_Preference'] = movies_df['Genre'].map(lambda x: user_preferences.get(x, 'Unknown'))

# Display the modified DataFrame
print("Movies DataFrame with 'User_Preference' Column:")
print(movies_df)

# Use apply to calculate the adjusted budget based on user preferences
adjusted_budgets = movies_df.apply(lambda row: row['Budget'] * (1.2 if row['User_Preference'] == 'Favorite' else 0.8), axis=1)

# Display the adjusted budgets
print("\nAdjusted Budgets based on User Preferences:")
print(adjusted_budgets)

# Use Reduce to calculate the total adjusted budget
total_adjusted_budget = reduce(lambda x, y: x + y, adjusted_budgets)

# Display the total adjusted budget
print("\nTotal Adjusted Budget for Selected Movies:")
print(total_adjusted_budget)

Movies DataFrame with 'User_Preference' Column:
                      Movie   Genre  Rating     Budget User_Preference
0                 Inception  Sci-Fi     4.8  160000000        Favorite
1           The Dark Knight  Action     4.9  185000000           Liked
2              Pulp Fiction   Crime     4.5    8000000         Neutral
3  The Shawshank Redemption   Drama     4.7   25000000   Not Preferred
4              Forrest Gump   Drama     4.6   55000000   Not Preferred

Adjusted Budgets based on User Preferences:
0    192000000.0
1    148000000.0
2      6400000.0
3     20000000.0
4     44000000.0
dtype: float64

Total Adjusted Budget for Selected Movies:
410400000.0

### Example 2 project to use all the above methods

In [29]:
import pandas as pd
from functools import reduce

# Sample data
devices = ['Laptop', 'Smartphone', 'Refrigerator', 'Gaming Console', 'LED TV']
power_consumption = [60, 10, 150, 120, 80]

# Create a DataFrame
col_names = ['Device', 'Power_Consumption']
devices_df = pd.DataFrame(list(zip(devices, power_consumption)), columns=col_names)

# Dictionary mapping power categories
power_categories = {20: 'Low Power', 80: 'Medium Power', 150: 'High Power'}

# Use map to categorize devices based on power consumption
devices_df['Power_Category'] = devices_df['Power_Consumption'].map(lambda x: next((category for threshold, category in power_categories.items() if x <= threshold), 'Unknown'))

# Display the modified DataFrame
print("Devices DataFrame with 'Power_Category' Column:")
print(devices_df)

# Use reduce to calculate the total power consumption for each category
total_power_by_category = {category: reduce(lambda x, y: x + y, devices_df.loc[devices_df['Power_Category'] == category, 'Power_Consumption']) for category in power_categories.values()}

# Display the total power consumption for each category
print("\nTotal Power Consumption by Category:")
print(total_power_by_category)

Devices DataFrame with 'Power_Category' Column:
           Device  Power_Consumption Power_Category
0          Laptop                 60   Medium Power
1      Smartphone                 10      Low Power
2    Refrigerator                150     High Power
3  Gaming Console                120     High Power
4          LED TV                 80   Medium Power

Total Power Consumption by Category:
{'Low Power': 10, 'Medium Power': 140, 'High Power': 270}

## B. Regular Expressions

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.
RegEx can be used to check if a string contains the specified search pattern. Example:
To search the string to see if it starts with "The" and ends with "Spain":

In [32]:
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

#### Metacharacters

In [45]:
txt = "The rain in Spain"
### 1.  [] A set of characters
x = re.findall("[a-m]", txt)
print(x)


### 2. \ Signals a special sequence (can also be used to escape special characters)
txt = "That will be 59 dollars"
#Find all digit characters:
x = re.findall("\d", txt)
print(x)

### 3. . Any character (except newline character)
txt = "hello he12o planet"
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":
x = re.findall("he..o", txt)
print(x)


### 4. ^ starts with
txt = "hello planet"
#Check if the string starts with 'hello':
x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")


### 5. $ Ends with
txt = "hello planet"
#Check if the string ends with 'planet':
x = re.findall("planet$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")


### 6. * Zero or more occurrences
txt = "hello planet"
#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o":
x = re.findall("he.*o", txt)
print(x)


### 7. + One or more occurrences
txt = "hello planet"
#Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "o":
x = re.findall("he.+o", txt)
print(x)


### 8. ? Zero or one occurrences
txt = "hello planet"
#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":
x = re.findall("he.?o", txt)
print(x)


### 9. {} Exactly the specified number of occurrences
txt = "hello planet"
x = re.findall("he.{2}o", txt)
print(x)


### 10. |  Either or
txt = "The rain in Spain falls mainly in the plain!"
#Check if the string contains either "falls" or "stays":
x = re.findall("falls|stays", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['h', 'e', 'a', 'i', 'i', 'a', 'i']
['5', '9']
['hello', 'he12o']
Yes, the string starts with 'hello'
Yes, the string ends with 'planet'
['hello']
['hello']
[]
['hello']
['falls']
Yes, there is at least one match!

#### Special Sequences

A special sequence is a \ followed by one of the characters in the list below, and has a special meaning:

\A	Returns a match if the specified characters are at the beginning of the string

In [47]:
import re

txt = "The rain in Spain"

#Check if the string starts with "The":

x = re.findall("\AThe", txt)

print(x)

if x:
  print("Yes, there is a match!")
else:
  print("No match")

['The']
Yes, there is a match!

\b	Returns a match where the specified characters are at the beginning or at the end of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")

In [50]:
import re

txt = "The rain in Spain"

#Check if "ain" is present at the beginning of a WORD:
x = re.findall(r"\bain", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

#Check if "ain" is present at the end of a WORD:
x = re.findall(r"ain\b", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match
['ain', 'ain']
Yes, there is at least one match!

\B	Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")

In [51]:
import re
txt = "The rain in Spain"
#Check if "ain" is present, but NOT at the beginning of a word:
x = re.findall(r"\Bain", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")
txt = "The rain in Spain"

#Check if "ain" is present, but NOT at the end of a word:
x = re.findall(r"ain\B", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['ain', 'ain']
Yes, there is at least one match!
[]
No match

\d	Returns a match where the string contains digits (numbers from 0-9)

In [54]:
import re

txt = "The rain2 in Spain"

#Check if the string contains any digits (numbers from 0-9):

x = re.findall("\d", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['2']
Yes, there is at least one match!

\D	Returns a match where the string DOES NOT contain digits	"\D"

In [53]:
import re
txt = "The rain in Spain"
#Return a match at every no-digit character:
x = re.findall("\D", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

\s	Returns a match where the string contains a white space character

In [55]:
import re
txt = "The rain in Spain"
#Return a match at every white-space character:
x = re.findall("\s", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

\S	Returns a match where the string DOES NOT contain a white space character

In [56]:
import re
txt = "The rain in Spain"
#Return a match at every NON white-space character:
x = re.findall("\S", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

\w	Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character)

In [57]:
import re
txt = "The rain in Spain"
#Return a match at every word character (characters from a to Z, digits from 0-9, and the underscore _ character):
x = re.findall("\w", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

\W	Returns a match where the string DOES NOT contain any word characters

In [59]:
import re
txt = "The rain in Spain?"
#Return a match at every NON word character (characters NOT between a and Z. Like "!", "?" white-space etc.):
x = re.findall("\W", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ', '?']
Yes, there is at least one match!

\Z	Returns a match if the specified characters are at the end of the string

In [62]:
import re
txt = "The rain in Spain"
#Check if the string ends with "Spain":
x = re.findall("Spain\Z", txt)
print(x)
if x:
  print("Yes, there is a match!")
else:
  print("No match")

['Spain']
Yes, there is a match!

#### Sets

[arn]	Returns a match where one of the specified characters (a, r, or n) is present

In [63]:
import re
txt = "The rain in Spain"
#Check if the string has any a, r, or n characters:
x = re.findall("[arn]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['r', 'a', 'n', 'n', 'a', 'n']
Yes, there is at least one match!

[a-n]	Returns a match for any lower case character, alphabetically between a and n

In [64]:
import re
txt = "The rain in Spain"
#Check if the string has any characters between a and n:
x = re.findall("[a-n]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']
Yes, there is at least one match!

[^arn]	Returns a match for any character EXCEPT a, r, and n

In [65]:
import re
txt = "The rain in Spain"
#Check if the string has other characters than a, r, or n:
x = re.findall("[^arn]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', ' ', 'i', ' ', 'i', ' ', 'S', 'p', 'i']
Yes, there is at least one match!

[0123]	Returns a match where any of the specified digits (0, 1, 2, or 3) are present

In [66]:
import re
txt = "The rain in Spain"
#Check if the string has any 0, 1, 2, or 3 digits:
x = re.findall("[0123]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

[0-9]	Returns a match for any digit between 0 and 9

In [67]:
import re
txt = "8 times before 11:45 AM"
#Check if the string has any digits:
x = re.findall("[0-9]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['8', '1', '1', '4', '5']
Yes, there is at least one match!

[0-5][0-9]	Returns a match for any two-digit numbers from 00 and 59

In [68]:
import re
txt = "8 times before 11:45 AM"
#Check if the string has any two-digit numbers, from 00 to 59:
x = re.findall("[0-5][0-9]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['11', '45']
Yes, there is at least one match!

[a-zA-Z]	Returns a match for any character alphabetically between a and z, lower case OR upper case

In [69]:
import re
txt = "8 times before 11:45 AM"
#Check if the string has any characters from a to z lower case, and A to Z upper case:
x = re.findall("[a-zA-Z]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['t', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']
Yes, there is at least one match!

[+]	In sets, +, *, ., |, (), $,{} has no special meaning, so [+] means: return a match for any + character in the string

In [70]:
import re
txt = "8 times before 11:45 AM"
#Check if the string has any + characters:
x = re.findall("[+]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

findall() function

In [71]:
import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)
x = re.findall("Portugal", txt)
print(x)

['ai', 'ai']
[]

search() function

The search() function searches the string for a match, and returns a Match object if there is a match.
If there is more than one match, only the first occurrence of the match will be returned:

In [72]:
import re
txt = "The rain in Spain"
x = re.search("\s", txt)
print("The first white-space character is located in position:", x.start())
x = re.search("Portugal", txt)
print(x)

The first white-space character is located in position: 3
None

split() function

The split() function returns a list where the string has been split at each match

In [73]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)
x = re.split("\s", txt, 1)
print(x)

['The', 'rain', 'in', 'Spain']
['The', 'rain in Spain']

sub() function

The sub() function replaces the matches with the text of your choice

In [74]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in9Spain
The9rain9in Spain

Match() function

A Match Object is an object containing information about the search and the result.
The Match object has properties and methods used to retrieve information about the search, and the result:

.span() returns a tuple containing the start-, and end positions of the match.

.string returns the string passed into the function

.group() returns the part of the string where there was a match

In [75]:
import re
txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) #this will print an object
x = re.search(r"\bS\w+", txt)
print(x.span())
print(x.string)
print(x.group())

<re.Match object; span=(5, 7), match='ai'>
(12, 17)
The rain in Spain
Spain

## C. How to use RegEx inside the Expression of a Lambda Function

1. FILTER() IN LAMBDA WITH REGEX

In [76]:
import re

fruits = ['apple', 'mango', 'banana', 'cherry', 'apricot', 'raspberry', 'avocado']
filtered_fruits = filter(lambda fruit: re.match('^a', fruit), fruits)

# convert the new fruits to another list and print it
print(list(filtered_fruits)) # ['apple', 'apricot', 'avocado']

['apple', 'apricot', 'avocado']

2. MAP() IN LAMBDA WITH REGEX

In [77]:
import re

fruits2 = ['opple', 'bonono', 'cherry', 'dote', 'berry']
modified_fruits = map(lambda fruit: re.sub('o', 'a', fruit), fruits2)

# convert the new fruits to another list and print it
print(list(modified_fruits)) # ['apple', 'banana', 'cherry', 'date', 'berry']

['apple', 'banana', 'cherry', 'date', 'berry']

3. SORT() IN LAMBDA WITH REGEX (ASCENDING ORDER)

In [78]:
import re

fruits = [ 'banana', 'fig', 'grapefruit']

# sort fruits based on the number of vowels
fruits.sort(key=lambda x: len(re.findall('[aeiou]', x)))

print(fruits) #['fig', 'banana', 'grapefruit']

['fig', 'banana', 'grapefruit']

4. SORT() IN LAMBDA WITH REGEX (DESCENDING ORDER)

In [79]:
import re

fruits = [ 'banana', 'fig', 'grapefruit']

# sort fruits based on the number of vowels
fruits.sort(key=lambda x: len(re.findall('[aeiou]', x)), reverse=True)

print(fruits) # ['grapefruit', 'banana', 'fig']

['grapefruit', 'banana', 'fig']

### Example 1. On Regex :

In [3]:
import re

# Sample data - List of phone numbers
phone_numbers = [
    '+1 (555) 123-4567',
    '+44 (20) 7946 0958',
    '+91 9876543210',
    '123-456-7890',
    'invalid-number'
]

# Regular expression pattern to parse and validate phone numbers
phone_pattern = re.compile(r'\+(\d{1,4}) \((\d{1,4})\) (\d{1,})-(\d{1,})')

# Function to extract and validate phone number components
def extract_phone_parts(phone):
    match = phone_pattern.match(phone)
    if match:
        country_code = match.group(1)
        area_code = match.group(2)
        local_number = f"{match.group(3)}-{match.group(4)}"
        return country_code, area_code, local_number
    else:
        return None, None, None

# Apply the extract_phone_parts function to each phone number
result = [extract_phone_parts(phone) for phone in phone_numbers]

# Display the input phone numbers and the extracted components
print("Input Phone Numbers:")
print(phone_numbers)
print("\nExtracted Phone Components:")
for phone, (country_code, area_code, local_number) in zip(phone_numbers, result):
    print(f"Phone: {phone}, Country Code: {country_code}, Area Code: {area_code}, Local Number: {local_number}")

Input Phone Numbers:
['+1 (555) 123-4567', '+44 (20) 7946 0958', '+91 9876543210', '123-456-7890', 'invalid-number']

Extracted Phone Components:
Phone: +1 (555) 123-4567, Country Code: 1, Area Code: 555, Local Number: 123-4567
Phone: +44 (20) 7946 0958, Country Code: None, Area Code: None, Local Number: None
Phone: +91 9876543210, Country Code: None, Area Code: None, Local Number: None
Phone: 123-456-7890, Country Code: None, Area Code: None, Local Number: None
Phone: invalid-number, Country Code: None, Area Code: None, Local Number: None

### Example 2. On Regex :

In [81]:
import re

# Sample data - List of product codes
product_codes = [
    'ABC123-M001-S001',
    'XYZ789-N002-T002',
    'InvalidCode',
    'PQR456-X003-Y003',
    'LMN012-K004-Z004'
]

# Regular expression pattern to parse and validate product codes
product_code_pattern = re.compile(r'(?P<category>[A-Z]{3})(?P<model>[0-9]{3})-(?P<type>[A-Z]{1})(?P<serial>[0-9]{3})')

# Function to extract and validate product code components
def extract_product_parts(product_code):
    match = product_code_pattern.match(product_code)
    if match:
        category = match.group('category')
        model = match.group('model')
        product_type = match.group('type')
        serial_number = match.group('serial')
        return category, model, product_type, serial_number
    else:
        return None, None, None, None

# Apply the extract_product_parts function to each product code
result = [extract_product_parts(code) for code in product_codes]

# Display the input product codes and the extracted components
print("Input Product Codes:")
print(product_codes)
print("\nExtracted Product Components:")
for code, (category, model, product_type, serial_number) in zip(product_codes, result):
    print(f"Product Code: {code}, Category: {category}, Model: {model}, Type: {product_type}, Serial: {serial_number}")

Input Product Codes:
['ABC123-M001-S001', 'XYZ789-N002-T002', 'InvalidCode', 'PQR456-X003-Y003', 'LMN012-K004-Z004']

Extracted Product Components:
Product Code: ABC123-M001-S001, Category: ABC, Model: 123, Type: M, Serial: 001
Product Code: XYZ789-N002-T002, Category: XYZ, Model: 789, Type: N, Serial: 002
Product Code: InvalidCode, Category: None, Model: None, Type: None, Serial: None
Product Code: PQR456-X003-Y003, Category: PQR, Model: 456, Type: X, Serial: 003
Product Code: LMN012-K004-Z004, Category: LMN, Model: 012, Type: K, Serial: 004

### Example 3. On Regex :

In [82]:
import re

# Sample data - List of employee IDs
employee_ids = [
    'HR123-001-A',
    'SA456-002-B',
    'InvalidID',
    'IT789-003-C',
    'MK321-004-D'
]

# Regular expression pattern to parse and validate employee IDs
employee_id_pattern = re.compile(r'(?P<dept_code>[A-Z]{2})(?P<emp_num>\d{3})-(?P<check_digit>[A-Z])')

# Function to extract and validate employee ID components
def extract_employee_info(employee_id):
    match = employee_id_pattern.match(employee_id)
    if match:
        dept_code = match.group('dept_code')
        emp_num = match.group('emp_num')
        check_digit = match.group('check_digit')
        return dept_code, emp_num, check_digit
    else:
        return None, None, None

# Apply the extract_employee_info function to each employee ID
result = [extract_employee_info(emp_id) for emp_id in employee_ids]

# Display the input employee IDs and the extracted components
print("Input Employee IDs:")
print(employee_ids)
print("\nExtracted Employee ID Components:")
for emp_id, (dept_code, emp_num, check_digit) in zip(employee_ids, result):
    print(f"Employee ID: {emp_id}, Department Code: {dept_code}, Employee Number: {emp_num}, Check Digit: {check_digit}")

Input Employee IDs:
['HR123-001-A', 'SA456-002-B', 'InvalidID', 'IT789-003-C', 'MK321-004-D']

Extracted Employee ID Components:
Employee ID: HR123-001-A, Department Code: None, Employee Number: None, Check Digit: None
Employee ID: SA456-002-B, Department Code: None, Employee Number: None, Check Digit: None
Employee ID: InvalidID, Department Code: None, Employee Number: None, Check Digit: None
Employee ID: IT789-003-C, Department Code: None, Employee Number: None, Check Digit: None
Employee ID: MK321-004-D, Department Code: None, Employee Number: None, Check Digit: None

### Example 4. On Regex :

In [87]:
import re

# Sample data - List of file names
file_names = [
    '20220115_report.txt',
    '20220220_summary.docx',
    'invalid_file.txt',
    '20220325_analysis.csv',
    '20220410_final_report.pdf'
]

# Regular expression pattern to extract date and description from file names
file_name_pattern = re.compile(r'(?P<date>\d{8})_(?P<description>[\w]+)\.(txt|docx|csv|pdf)')

# Function to extract and validate file information
def extract_file_info(file_name):
    match = file_name_pattern.match(file_name)
    if match:
        return match.group('date'), match.group('description')
    else:
        return None, None

# Use map function to extract information from file names
extracted_info = list(map(extract_file_info, filter(lambda x: file_name_pattern.match(x) is not None, file_names)))

# Display the input file names and the extracted information
print("Input File Names:")
print(file_names)
print("\nExtracted Information:")
for file_name, (date, description) in zip(file_names, extracted_info):
    print(f"File Name: {file_name}, Date: {date}, Description: {description}")

Input File Names:
['20220115_report.txt', '20220220_summary.docx', 'invalid_file.txt', '20220325_analysis.csv', '20220410_final_report.pdf']

Extracted Information:
File Name: 20220115_report.txt, Date: 20220115, Description: report
File Name: 20220220_summary.docx, Date: 20220220, Description: summary
File Name: invalid_file.txt, Date: 20220325, Description: analysis
File Name: 20220325_analysis.csv, Date: 20220410, Description: final_report